# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Edit a table and some descriptive text
* Mix computed arithmentic and descriptive text

Some of the popular languages that Data Scientists use are:
1. python
1. R
1. Julia
1. Matlab

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
1. pandas
1. Weka
1. Spark MLLIB
1. Tensorflow

|Data Science Tools|
|-|
|RStudio|
|Jupyter Notebooks|
|JupyterLab|
|VC Studio|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
2+2

4

In [3]:
2**3

8

In [5]:
import math
math.sqrt(4)

2.0

Exercise 8 - Create a code cell to multiply and add numbers

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by diving by 60

def convertmm2hh(mm):
    return round(mm/60,1)

mm = 200
print('mm:',mm,'hh:',convertmm2hh(mm))

mm: 200 hh: 3.3

Exercise 10 - Insert a markdown cell to list Objectives

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Alberto Moscatelli